@page "/displayconsole"


<h3>Affichage de la console</h3>

<button @onclick="displayConsole"> Display Console </button>
@if (consoleLines.Count>0 )
{
    foreach(var i in consoleLines) {
        <p>@i</p>
    }
}


@code {
    List<string> consoleLines = new List<string>();

    void displayConsole(){
        Process ps = new Process()
            {
                StartInfo =
                {
                    FileName = "powershell.exe",
                    Arguments = "ipconfig",
                    CreateNoWindow = true,
                    UseShellExecute = false,
                    RedirectStandardOutput = true,
                }
            };
            ps.Start();

            while(!ps.StandardOutput.EndOfStream)
            {
                string line = ps.StandardOutput.ReadLine();
                
               consoleLines.Add(line);
            }
    }
}
